<h1>HELLO BITCHES</h1>

  <% @sections.each do |section| %>
    <h1><%= section.name %></h1>
    <%= link_to 'Edit', edit_section_path(section) %>
    <%= link_to 'Remove', section_path(section), method: :delete, data: { confirm: 'ARE YOU SURE?' }%>
    <h3><%= link_to 'Add new resource', new_section_post_path(section) %></h3>
    <br>
    <% section.posts.each do |post| %>
      <div>
        <%= post.link %><br>
        <%= post.description %> <br>
          <%- if post.post_image? %>
            <%= image_tag post.post_image, size: "50x50" %>
          <% end %>
        <%= link_to 'Delete', section_post_path(section, post), method: :delete, data: { confirm: 'ARE YOU SURE?' } %>
      </div> <br>
    <% end %>
  <hr>
  <% end %>

  <%= link_to 'Create new Section', new_section_path %>
