<h1>Create a resource!</h1>

<%= bootstrap_form_for [@section,@section.posts.build] do |f| %>
  <%= f.text_field :link %>
  <%= f.text_field :description %>
  <%= f.file_field :post_image %>
  <%= f.submit "Create" %>
<% end %>
